
#about .row{
    height: 495px;
}

#about .col:last-child{
    padding-right: 100px;padding-top: 99px;
    padding-bottom: 30px;
}

#about .col:last-child h1{
    color: white;
    margin-bottom: 19px;
}

#about .col:last-child p{
    margin-bottom: 28px;
}

#about{

    color: white;
    max-width: 1226px!important;
    border-radius: 50px;
    background: rgb(122,0,140);
    background: -moz-radial-gradient(circle, rgba(122,0,140,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(122,0,140,1) 0%, rgba(0,0,0,1) 100%);
    background: radial-gradient(circle, rgba(122,0,140,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a008c",endColorstr="#000000",GradientType=1);

    margin-bottom: 100px;
    margin-top: 100px;

    transition: all .2s ease 0s;

}

#about .btn-light{
    color: black;
}

#about:hover{
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
}
#about img{
    width: 495px;
    margin-left: 63px;
}