/*************************
       CLASS GLOBAL
 *************************/

:root {
    --colorall-main-purple: #944BBB;
    --colorall-white-purple: #EBCBF4;
    --colorall-dark-purple: #190B28;
    --colorall-blue: #18c4ff;
    --colorall-blue-second: #0eb1e9;
}

body{
    /*font-family: 'Poppins', sans-serif;*/
    color: black;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.uppercase{
    text-transform: uppercase;
}

i.blueI{
    color: var(--colorall-blue);
}

.container {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .container {
        width: 90%;
    }
}
