


#commission{
    margin-top: 100px;
}

#service-second-but{

    margin-bottom: 50px;
}

#service-second-but h3.art{

    text-align: center;
    padding-top: 89px;
    padding-bottom: 30px;

}

.image-container {
    position: relative;
}

.image1, .image2 {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease 0s;
}

.image-container:hover .image1, .image-container:hover .image2 {
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
    transform: scale(1.10);
}

.image2 {
    z-index: -1; /* Met l'image 2 en dessous de l'image 1 */
}

div#header .col-6:first-child{
    transition: all .2s ease 0s;
}

@media (max-width: 1002px) {
    .image-container{
        display: none;
    }

    #service-second-but:first-child {
        margin-bottom: unset;
    }

    .text-comi{
        width: 100%;
        --bs-gutter-x: unset;
        --bs-gutter-y: unset;
    }
}