
/*************************
        HEADER
 *************************/

div#header{


    height: 636px;

    /*background: rgb(222,0,255);*/
    /*background: -moz-radial-gradient(circle, rgba(222,0,255,1) 0%, rgba(65,0,75,1) 100%);*/
    /*background: -webkit-radial-gradient(circle, rgba(222,0,255,1) 0%, rgba(65,0,75,1) 100%);*/
    /*background: radial-gradient(circle, rgba(222,0,255,1) 0%, rgba(65,0,75,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de00ff",endColorstr="#41004b",GradientType=1);*/

    background: rgb(122,0,140);
    background: -moz-radial-gradient(circle, rgba(122,0,140,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(122,0,140,1) 0%, rgba(0,0,0,1) 100%);
    background: radial-gradient(circle, rgba(122,0,140,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a008c",endColorstr="#000000",GradientType=1);
}

div#header .row{
    --bs-gutter-x: unset!important;
}

div#header div.col-6:first-child{

    padding-top: 10%;
    padding-left: 22%;

}

div#header div.col-6 p{

    color: white;


}

div#header div.col-6 h1{
    color: white;
    font-size: 42px;
}


