
/*************************
        HEADER
 *************************/

div#header{


    height: 636px;

    /*background: rgb(222,0,255);*/
    /*background: -moz-radial-gradient(circle, rgba(222,0,255,1) 0%, rgba(65,0,75,1) 100%);*/
    /*background: -webkit-radial-gradient(circle, rgba(222,0,255,1) 0%, rgba(65,0,75,1) 100%);*/
    /*background: radial-gradient(circle, rgba(222,0,255,1) 0%, rgba(65,0,75,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de00ff",endColorstr="#41004b",GradientType=1);*/

    background: rgb(122,0,140);
    background: -moz-radial-gradient(circle, rgba(122,0,140,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(122,0,140,1) 0%, rgba(0,0,0,1) 100%);
    background: radial-gradient(circle, rgba(122,0,140,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a008c",endColorstr="#000000",GradientType=1);
}

div#header .row{
    --bs-gutter-x: unset!important;
}

div#header div.col-6:first-child{

    padding-top: 10%;
    padding-left: 22%;

}

div#header div.col-6 p{

    color: white;


}

div#header div.col-6 h1{
    color: white;
    font-size: 42px;
}

div#header img{
    transition: all .2s ease 0s;
}

div#header img:hover{
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
    transform: scale(1.10);
}

div#header .col-6:first-child{
    transition: all .2s ease 0s;
}

div#header .col-6:first-child:hover {
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
    transform: scale(1.10);
}

@media (max-width: 1301px) {
    div#header div.col-6:first-child{
        padding-top: 13%;
        padding-left: 13%;
    }
}

@media (max-width: 991px) {
    header {
        height: unset;
    }

    div#header {
        height: 672px;
        margin-top: 75px;
        margin-bottom: 56px;
    }

    div#header .row {
        margin-top: 65px;
    }
}

@media (max-width: 770px) {

    div#header .col-6:last-child{
        display: none;
    }

    div#header div.col-6:first-child{
        flex-shrink: unset;
        flex: unset;
        width: unset;
        max-width: unset;
        padding-right: unset;
        padding-left: unset;
        margin-top: unset;
    }

    div#header {
        height: 472px;
    }

    div#header .row {
        margin-top: 65px;
        width: 90%;
        max-width: 1060px;
        margin-left: auto;
        margin-right: auto;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }

    div#header div.col-6:first-child div{
        text-align: center;
    }
}

@media (max-width: 406px) {
    div#header div.col-6:first-child{
        padding-top: 4%;
    }
}