
/*************************
        NAVBAR
 *************************/

header#nav-desktop nav div.visible-title {
    visibility: visible;
}

@media (max-width: 991px) {
    #nav-desktop {
        display: none;
    }
}

@media (min-width: 992px) {
    #nav-mobile{
        display: none;
    }
}


header{
    height: 702px;
}

header#nav-desktop {
    height: 100px;
    z-index: 10;
}
.header-banner {
    background-color: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 170px;
}

header#nav-desktop h1 a {
    color: var(--colorall-white-purple);
    text-decoration:none;

    padding: 0 1rem;
    position: absolute;
    width: 30%;
    margin-top: 31px;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 16px -25px 11px -10px rgb(0 0 0 / 28%);

}

header#nav-desktop h1 img{
    width: 260px;
    margin-top: 13px;
}


.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header#nav-desktop nav {
    width: 100%;
    height: 100px;
    background: transparent;
    postion: fixed;
    z-index: 10;
    /*border-bottom: solid #008000FF;*/
}

header#nav-desktop nav div {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}

.visible-title img{
    width: 161px;
    margin: 10px;
}

.visible-title img:hover{
    -webkit-transform:scale(1.10); /* Safari et Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* Internet Explorer 9 */
    -o-transform:scale(1.10); /* Opera */
    transform:scale(1.10);
}

header#nav-desktop nav ul {
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}

header#nav-desktop nav ul.center-ul {
    text-align: center;
}
header#nav-desktop nav ul li {
    display: inline-block;
    line-height: 50px;
    margin-left: 20px;
    padding-top: 20px;
}
header#nav-desktop nav ul li a:hover {
    border-bottom: solid #575757;
}
header#nav-desktop nav ul li a.active {
    border-bottom: solid var(--colorall-blue);
}

header#nav-desktop nav ul li a {
    text-decoration: none;
    color: white;
}

#nav-desktop nav.fixed-header{
    background: black;
}


#nav-mobile {
    background: white;
}

/*#nav-mobile li:hover{*/
/*    border-bottom: solid #575757;*/
/*}*/

#nav-mobile li.nav-active a{
    text-decoration: underline;
    text-decoration-color: #008000FF;
}

#nav-mobile h1 {
    position: fixed;
    top: 0px;
    left: 40px;
    z-index: 6;
    font-size: 20px;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
}
#nav-mobile h1 > span {
    text-transform: none;
    opacity: 0.5;
    font-weight: 300;
    font-size: 12px;
}
#nav-mobile input + label {
    position: fixed;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 15px;
    z-index: 5;
}
#nav-mobile input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #020304;
    transition: 0.5s;
}
#nav-mobile input + label span:first-child {
    top: 3px;
}
#nav-mobile input + label span:last-child {
    top: 16px;
}
#nav-mobile label:hover {
    cursor: pointer;
}
#nav-mobile input:checked + label span {
    opacity: 0;
    top: 50%;
}
#nav-mobile input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
}
#nav-mobile input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
}
#nav-mobile input ~ nav {
    background: #F8F9FA;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
}
#nav-mobile input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
}
#nav-mobile input ~ nav > ul > li {
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
}
#nav-mobile input ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    padding: 30px;
}
#nav-mobile input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
}
#nav-mobile input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: 0.5s;
}